.tableContainer {
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.title {
    text-align: center;
    color: #343a40;
    margin-bottom: 20px;
    font-size: 24px;
}

.addButton {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.addButton:hover {
    background-color: #218838;
}

.actionButtons button {
    margin: 0 5px;
}
