.formContainer {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.formContainer h2 {
    text-align: center;
    color: #007bff;
    margin-bottom: 20px;
}

.formLabel {
    font-weight: bold;
}

.formInput {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.formButton {
    display: block;
    width: 100%;
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.formButton:hover {
    background-color: #0056b3;
}
